In [2]:
import pandas as pd #package for reading data
import numpy as np 
import matplotlib.pyplot as plt #package for creating plots

Import data into the notebook

In [3]:
data_folder = "drills_data/"
prices = pd.read_csv(data_folder + "prices.csv")

## Cross section

How many total drills observations are in the data?

In [4]:
len(prices) + 1

20530

In [56]:
# concatenate model and manufacturer
prices['label'] = prices['manufacturer'].astype(str) + " " + prices['model']

How many unique drills (i.e. no duplicate entries) for each of the platforms

In [57]:
prices.groupby('platform')['label'].nunique()

platform
AMZN    250
HD      173
LOW     218
WMT     144
Name: label, dtype: int64

What it the drill with the highest number of observation for each of the platforms?

In [58]:
new = prices.filter(['platform', 'label'])
new['obs'] = ""
new.groupby(['platform', 'label'], as_index=False)['obs'].count().sort_values('obs', ascending=False)\
            .drop_duplicates('platform')

    platform                 label  obs
713      WMT  Hyper Tough AQ75034G  153
376       HD     Milwaukee 2997-22  133
488      LOW       DEWALT DCD771C2  119
40      AMZN   BLACK+DECKER DR260C  116

What it the drill with the second highest number of observation for each of the platfroms?

In [59]:
new.groupby(['platform', 'label'], as_index=False)['obs'].count().sort_values('obs', ascending=False)\
.drop_duplicates('obs').groupby('platform').nth([1])

                         label  obs
platform
AMZN         Milwaukee 2997-22  112
HD         Milwaukee 2892-22CT  131
LOW       BLACK+DECKER LDX120C  117
WMT       Hyper Tough AQ75023G  149

What is the average number observations for each drill? How does this vary by vendor?

In [60]:
new.groupby(['label'], as_index=False)['obs'].count()

                                                 label  obs
0                                   ACDelco ARD12126S1  102
1    ACDelco ARD847 Li-Ion 8-volt Super Compact Dri...   26
2                            Amazon Renewed 11255VSRRT   53
3                            Amazon Renewed 2691-22-cr   25
4                            Amazon Renewed 6335-02-cr    1
..                                                 ...  ...
460                                       nan PCC621LB   36
461                                       nan PCC641LB   23
462                                         nan PS22BN    1
463                                       nan WH18DGLM    3
464                                       nan XC602000    1

[465 rows x 2 columns]

In [62]:
new.groupby(['label', 'platform'], as_index=False)['obs'].count().sort_values("platform")

                                            label platform  obs
0                              ACDelco ARD12126S1     AMZN   50
425  HYCHIKA BETTER TOOLS FOR BETTER LIFE CK-18BC     AMZN   12
420                                  HART HPDD50B     AMZN   47
417                                 HART HPCK202B     AMZN    4
415                               Genesis GCD18BK     AMZN    2
..                                            ...      ...  ...
625                                  SKIL 6445-04      WMT  141
43                        BLACK+DECKER BD2KITCDDI      WMT   10
391                                DEWALT DWD115K      WMT    1
678                                   WORX WX176L      WMT   89
380                                 DEWALT DW235G      WMT    1

[785 rows x 3 columns]

Focus on the top 2 drills from each vendor (8 drills total) i.e. Milwaukee 2997-22, Milwaukee 2892-22CT,  etc. How many observations we have for the other vendors for these drills?